<ul>
  <li><%= @project.id %></li>
  <li><%= @project.name %></li>
  <li><%= @project.description %></li>
</ul>

<%= link_to 'Edit', edit_project_path %>
<%= link_to 'Delete', project_path, method: 'DELETE' %>